html {
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  text-shadow: 3px 3px 3px #a786df;
  padding: 10px;
}

h2 {
  font-size: 35px;
  padding-left: 20px;
  text-align: center;
}

.heading {
  background-color: #d9d4e7;
  line-height: 40px;
}

.container {
  background-color: #fec7d7;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

ul > li {
  list-style: none;
  font-size: 20px;
}

a {
  text-transform: uppercase;
}

a:hover {
  color: #fffffe;
  text-decoration: none;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px;
}

button {
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #fffffe;
  box-shadow: 5px 5px 5px #a786df;
  margin-left: 10px;
}

button:hover {
  background-color: #d9d4e7;
  color: #fffffe;
}

button > p:hover {
  color: #fffffe;
}

p {
  font-size: 16px;
}

.title {
  text-transform: uppercase;
  color: #ffd803;
  font-size: 30px;
}